.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
    gap: 1rem;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(40,0,85,1) 73%);
}

.cardcont {
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.viewbttn {
    width: 150px;
    height: 40px;
    background-color: whitesmoke;
    border: 0;
    color:rgba(70, 27, 116, 1);
    font-weight: bold;
    margin: 2rem;
    font-family: 'Syne Mono';
    border-radius: 10px;
}

.viewbttn:hover {
    background-color: rgb(165, 111, 223);
    color: white;
}

.topview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    margin-bottom: 5rem;
    width: 20rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.tbody td {
    padding: 1rem;
}

.tr th {
    padding: 1rem;
}


.image {
    border-radius: 30px;
  }
  